body{
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS Bold", arial;
}

.row{
    margin-right: 35px;
    margin-left: 35px;
}

h1 {
    margin-bottom: 15px;
    text-align: center;
    color: #ff4532;
    font-size: 70px;
}
h3{
    text-align: center;
    font-size: 45px;
    margin: 0;
}

.box{
    width: 100%;
    overflow: auto;
}

.content-name{
    overflow: auto;
    text-align: center;
    width: 100px;
    height: 40px;
    padding: 5px;
    float: right;
    margin-right: 36px;
    margin-top: 0px;
    font-weight: bold;
    position: relative;
}
p{
    text-align: justify;
}
h2{

    font-size: 30px;
    background-color: #484040;
    padding: 10px;
    color: whitesmoke;
    font-family: monospace;
    font-weight: 100;
}
.content{
    width: 85%;
    height: auto;
    margin: 2.5%;
    color: black;
    font-size: 20px;
    padding: 5%;
    padding-top: 35px;
    background-color: rgba(0,0,0,0.3);
}

.name1{
    background-color: #FFB6C1;
}

.name2{
    color: white;
    background-color: #FF0000;
}
.name3{
    background-color: #FFFF00;
}


/********** Large devices only **********/
@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 33.33%;
    }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6,.col-md-12 {
        float: left;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        margin-left: -10px;
        width: 100%;
    }
    .name3{
        margin-right: 65px;
        width: 100px;
    }
}

@media (min-width: 0px) and (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }
    .content-name{
        margin-right: 30px;
    }
}




