h1
{
    text-align: center;
}

.button {
    display: block;
    width: 150px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    margin-right:20px;
}
a
{
    text-decoration: none;
    float: left;
}
.subdiv
{
    clear: both;
    margin-top: 80px;
}